{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="container">
		<div class="departments">
			<h1>Departments</h1>
			<ul>
				{% for department in departments %}
				<li>
					<span>
						<a class="departmentItemLinks" href="{{ url_for('showDepartmentItems', department_id=department.id) }}">{{ department.name }}</a>
					</span>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="items">
			<h1>{{ department.name }} Department</h1>
			<ul>
				{% for item in departmentItems %}
				<li>
					<span>
						<a class="departmentItemLinks" href="{{ url_for('showItemDescription', department_id=department.id, item_id=item.id) }}">{{ item.name }}</a>
					</span>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}