{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="container">
		<div class="wholeContainer">
			<form action="#" method = "POST">
				<div class="form-group">
					<label for="department">Department:</label>
					<input type ="text" class="form-control" maxlength="100" name="department" value="{{department.name}}" disabled>
					<br>
					<label for="name">Name:</label>
					<input type ="text" class="form-control" maxlength="100" name="name" value="{{item.name}}" required>
					<br>
					<label for="description">Description:</label>
					<input type ="text" class="form-control" maxlength="100" name="description" value="{{item.description}}" required>
					<br>
					<label for="price">Price:</label>
					<input type ="text" class="form-control" maxlength="100" name="price" value="{{item.price}}" required>
					<br>
					<div class="padding-bottom"></div>
					<button type="submit" id="submit" type="submit">Save</button>
					<button><a class="button" href="{{ url_for('showDepartmentItems', department_id=department.id) }}">Cancel</a></button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}